* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1;
}

body {
  height: 100vh;
  width: 100vw;
}

.page__wrap {
  display: grid;
  grid-template-rows: 20% 5% auto auto;
  height: 100vh;
}

.header__wrap {
  place-self: center;
}

.header__wrap h1 {
  font-size: 3vw;
}

.header__info {
  width: 80%;
  place-self: center;
  font-size: 1.3vw;
}

.header__info__currentPlayer {
  justify-self: center;
}

.main__wrap {
  place-self: center;
}

.main__board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  place-content: center;
}

.field__boarder {
  border-left: 4vw outset darkgrey;
  border-right: 4vw inset darkgrey;
  border-top: 6vh inset gainsboro;
  border-bottom: 6vh outset gainsboro;
  border-radius: 4px;
  box-shadow: 0px -5px 100px 10px rgba(0, 0, 0, .2);
}

.table__wrap {
  padding: 20px;
  border: 6px double darkgoldenrod;
  background-color: gainsboro;
  border-radius: 1px;
  box-shadow: 20px 20px 60px 20px rgba(0, 0, 0, .2);
}

.field__tbody {
  background-color: ghostwhite;
  /* background: none; */
}

.field {
  border: 1px solid black;
  border-radius: 3px;
  height: 6vw;
  width: 6vw;
  vertical-align: middle;
  text-align: center;
  font-family: sans-serif;
  font-size: 4vw;
  cursor: pointer;

  /* background: none; */
  /* position: absolute; */
  /* transform-style: preserve-3d; */
  /* transition: all 0.5s ease-in-out; */

  /* transform: translate(-50%, -50%); */
  /* transform: rotateX(0); */
}

/* .field:hover {
  transform: rotateY(180deg);
} */

/* .fronCard {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  /* background-color: ghostwhite; */
/* } */

/* .backCard {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: goldenrod;
  transform: rotateY(180deg);
} */

/* .field.clicked {
  transform: rotateX(180deg);
  transition: rotateX .4s ease-in-out;
} */

.field:hover {
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, .5);
}

/* #feld0 {
  border-radius: 6px 0 0 0;
}

#feld2 {
  border-radius: 0 6px 0 0;
}

#feld6 {
  border-radius: 0 0 0 6px;
}

#feld8 {
  border-radius: 0 0 6px 0;
} */

.footer__wrap {
  width: 80%;
  justify-self: center;
  display: flex;
}

.footer__status {
  width: 100%;
  align-self: start;
  font-size: 1.3vw;
}

.restart__wrap {
  position: fixed;
  right: 5vw;
  bottom: 5vh;
}

.restart__button {
  display: none;
  height: 20px;
  width: 100px;
  border-radius: 3px;
  display: none;
}

.restart__button:hover {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .2);
}