* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1;
}

body {
  height: 100vh;
  width: 100vw;
}

.page__wrap {
  overflow: hidden;
  display: grid;
  grid-template-rows: 30% auto auto;
  height: 100vh;
  width: 100vw;
  background-color: #b4b4b4;
  font-family: 'calibri', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Header */

.header__wrap {
  display: grid;
  place-self: center;
  width: 100%;
  height: 100%;
}

.header__wrap h1 {
  margin: auto 0;
  font-size: 5vw;
  text-align: center;
}

.header__info {
  display: grid;
  align-items: center;
  font-size: 2.5vw;
  text-align: center;
  height: 100%;
}

.header__info__currentPlayer {
  text-decoration: underline;
}

.wiggleMe {
  animation-name: wiggleMe;
  animation-timing-function: ease-in;
}

.header__info__currentPlayer.wiggleMe {
  animation-duration: .8s;
}

/* Game field */

.main__wrap {
  justify-self: center;
  padding-top: 2vh;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.field__board {
  display: grid;
  grid-template: repeat(3, 6vw) / repeat(3, 6vw);
  grid-gap: 2px;
  padding: 2vh;
  border-top: 40px outset #513a00;
  border-right: 40px inset #8d6500;
  border-bottom: 40px inset #d19707;
  border-left: 40px outset #866000;
  background-color: #fffcf4e6;
  border-radius: 5px;
  box-shadow: 0px 10px 60px -9px rgba(0, 0, 0, .5);
}

/* Flip card */

.field__wrap {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid #7b5800;
  border-radius: 5px;
  font-size: 5.5vw;
  text-align: center;
  text-shadow: 0 0 5px rgba(150, 150, 150, 1);
  background-color: ghostwhite;
  cursor: pointer;
  -webkit-transition: transform 0.3s ease;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}

.field__wrap.flipped {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.field__wrap.flipped>.backCard {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.field__wrap:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

.frontCard,
.backCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.backCard {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* Footer content */

.footer__wrap {
  width: 100%;
}

.footer__status {
  width: 100%;
  height: 100%;
  font-size: 2.5vw;
  text-align: center;
}

.footer__status__content {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.footer__status__content.grow {
  -webkit-transition: transform 0.2s ease-out;
  -webkit-transform: scale(1.1);
  transition: transform 0.2s ease-out;
  transform: scale(1.1);
}

/* Restart button */

.restart__wrap {
  position: fixed;
  right: 5vw;
  bottom: 5vh;
}

.restart__button {
  display: none;
  height: 20px;
  width: 100px;
  border-radius: 3px;
  display: none;
}

.restart__button:hover {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .2);
}

/* Animation */

@keyframes wiggleMe {
  0% {
    transform: skewY(9deg);
  }

  10% {
    transform: skewY(-8deg);
  }

  20% {
    transform: skewY(7deg);
  }

  30% {
    transform: skewY(-6deg);
  }

  40% {
    transform: skewY(5deg);
  }

  50% {
    transform: skewY(-4deg);
  }

  60% {
    transform: skewY(3deg);
  }

  70% {
    transform: skewY(-2deg);
  }

  80% {
    transform: skewY(1deg);
  }

  90% {
    transform: skewY(0deg);
  }

  100% {
    transform: skewY(0deg);
  }
}