* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1;
}

body {
  height: 100vh;
  width: 100vw;
}

.page__wrap {
  display: grid;
  grid-template-rows: 20% 5% auto auto;
  height: 100vh;
}

.header__wrap {
  place-self: center;
}

.header__wrap h1 {
  font-size: 5vw;
}

.header__info {
  width: 80%;
  place-self: center;
  font-size: 2vw;
}

.main__wrap {
  place-self: center;
}

.main__board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  place-content: center;
}

.field__wrap {
  border-collapse: separate;
  border-collapse: separate;
  border-spacing: 1;
  border: 1px solid black;
  border-radius: 10px;
}

.field {
  border: 1px solid black;
  height: 10vw;
  width: 10vw;
  vertical-align: middle;
  text-align: center;
  font-family: sans-serif;
  font-size: 6vw;
  cursor: pointer;
  /* transform: rotateX(0); */
}

/* .field.clicked {
  transform: rotateX(180deg);
  transition: rotateX .4s ease-in-out;
} */

.field:hover {
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, .5);
}

#feld0 {
  border-radius: 10px 0 0 0;
}

#feld2 {
  border-radius: 0 10px 0 0;
}

#feld6 {
  border-radius: 0 0 0 10px;
}

#feld8 {
  border-radius: 0 0 10px 0;
}

.footer__wrap {
  width: 80%;
  justify-self: center;
  display: flex;
}

.footer__status {
  width: 100%;
  align-self: start;
  font-size: 2vw;
}

.restart__wrap {
  position: fixed;
  right: 5vw;
  bottom: 5vh;
}

.restart__button {
  height: 20px;
  width: 100px;
  border-radius: 3px;
}

.restart__button:hover {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .2);
}

.restart__button.hide {
  visibility: hidden;
}